
footer:before, footer:after {
    content: "";
    display: table;
    zoom: 1; /* ie fix */
}

footer:after {
    clear: both;
}

footer {
    /*position: absolute;
    bottom: 0;
    height: 60px;*/
}

header, footer {
    display: inline-block;
}

html, body {
    height: 100%;
}
