<!-- start header-bar-left -->
<div id="header-bar-left">
    <div class="header">
        <a id="scienceHeader" href="#" onclick="openTechDialog(); return false;"></a>
    </div>
    <div class="header">
        <a id="cultureHeader" href="#" onclick="openCivicDialog(); return false;"></a>
    </div>
    <div class="header">
        <a id="governmentHeader" href="#" onclick="openGovernmentDialog(); return false;"></a>
    </div>
    <div class="header">
        <a id="religionHeader" href="#" onclick="openReligionDialog(); return false;"></a>
    </div>
    <div class="header">
        <a id="greatPeopleHeader" href="#" onclick="openGreatPeoplesDialog(); return false;"></a>
    </div>
    <div class="header">
        <a id="governorsHeader" href="#" onclick="openGovernorsDialog(); return false;"></a>
    </div>
    <div class="header">
        <a id="momentsHeader" href="#" onclick="openMomentsDialog(); return false;"></a>
    </div>
</div>
<!-- end header-bar-left -->