<dialog id="techs_dialog" class="dialog">
    <header>
        <title>Technology Tree</title>
        <a href="#" class="close_button" onclick="javascript:closeTechsDialog()"></a>
    </header>
    <content>

        <div id="tech_wrapper">
            <div id="tech_pottery" class="tech">Pottery</div>
            <div id="tech_mining" class="tech">Mining</div>
            <div id="tech_archery" class="tech">Archery</div>
            <div id="tech_1" class="tech">Four</div>
            <div id="tech_2" class="tech">Five</div>
            <div id="tech_3" class="tech">Six</div>
        </div>
    </content>
    <!--<footer>
        <a href="#" onclick="javascript:closeTechsDialog()">Close</a>
    </footer>-->
</dialog>