<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description" content="">
    <meta name="author" content="MiRo">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>Smart Hex Board</title>

    <!-- font -->
    <link rel="preload" href="{% static 'smarthexboard/font/CinzelDecorative-Regular.woff2' %}" as="font" type="font/woff2" crossorigin>

    <!--favicon icon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'smarthexboard/img/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'smarthexboard/img/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'smarthexboard/img/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'smarthexboard/img/icons/site.webmanifest' %}">

    <!--custom css-->
    <link rel="stylesheet" href="{% static 'smarthexboard/css/style.css' %}">
</head>
<body onresize="resizeCanvas(event)">

    <!--full screen canvas container-->
    <div id="game"></div>

    <!--ui element container-->
    <div id="ui" class="blurred">
        <!--ui state: splash-->
        <div id="uistate-splash">
            <img src="{% static 'smarthexboard/img/ui/logo.png' %}" class="logo" />
            <!--loader start-->
            <div id="preloader">
                <div class="loader1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!--loader end-->
        </div>

        <!--ui state: menu-->
        <div id="uistate-menu">
            <div class="container">
                <img src="{% static 'smarthexboard/img/ui/logo.png' %}" class="logo" />
                <div class="container_text">
                    <h1>SmartHexBoard</h1>
                    <ul class="menu">
                        <li><a href="#" onclick="play()">Play</a></h3></li>
                        <li><a href="#" onclick="options()">Options</a></h3></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--ui state: generate-->
        <div id="uistate-generate">
            <div class="container">
                <img src="{% static 'smarthexboard/img/ui/logo.png' %}" class="logo" />
                <div class="container_text">
                    <h1>SmartHexBoard</h1>
                    <h3>Generating Map ...</h3>
                </div>
            </div>
        </div>

        <!--ui state: splash-->
        <div id="uistate-game">
            <div id="top-bar">
                <div id="scienceYield" class="yield"></div>
                <div id="cultureYield" class="yield"></div>
                <div id="faithYield" class="yield"></div>
                <div id="goldYield" class="yield"></div>
                <div id="tourismYield" class="yield"></div>
            </div>
            <div id="header-bar">
                <div class="header">
                    <a id="scienceHeader" href="#" onlick="openTechDialog()">&nbsp;</a>
                </div>
                <div class="header">
                    <a id="cultureHeader" href="#" onlick="openAbcDialog()">&nbsp;</a>
                </div>
                <div class="header">
                    <a id="governmentHeader" href="#" onlick="openAbcDialog()">&nbsp;</a>
                </div>
                <div class="header">
                    <a id="religionHeader" href="#" onlick="openAbcDialog()">&nbsp;</a>
                </div>
                <div class="header">
                    <a id="greatPeopleHeader" href="#" onlick="openAbcDialog()">&nbsp;</a>
                </div>
                <div class="header">
                    <a id="governorsHeader" href="#" onlick="openAbcDialog()">&nbsp;</a>
                </div>
                <div class="header">
                    <a id="momentsHeader" href="#" onlick="openAbcDialog()">&nbsp;</a>
                </div>
            </div>
        </div>
    </div>

    <!--top menu bar-->
    <div class="topMenu">
        <ul>
            <li><a href="#" id="menuGame">Game</a></li>
            <li><a href="#">Options</a></li>
        </ul>
    </div>

    <!--<div>
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                 <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="moving-waves">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
                </g>
            </svg>
        </div>
    </div>-->

    <!--jQuery-->
    <script src="{% static 'smarthexboard/js/jquery-3.4.1.min.js' %}"></script>

    <!--custom js-->
    <script src="{% static 'smarthexboard/js/prototypes.js' %}"></script>
    <script src="{% static 'smarthexboard/js/dom.js' %}"></script>
    <script src="{% static 'smarthexboard/js/point.js' %}"></script>
    <script type="module" src="{% static 'smarthexboard/js/renderer.js' %}"></script>
    <script src="{% static 'smarthexboard/js/ui.js' %}"></script>

    <script type="module" src="{% static 'smarthexboard/js/scripts.js' %}"></script>
</body>
</html>