<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description" content="">
    <meta name="author" content="MiRo">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>Smart Hex Board</title>

     <!--favicon icon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'smarthexboard/img/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'smarthexboard/img/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'smarthexboard/img/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'smarthexboard/img/icons/site.webmanifest' %}">

    <!--custom css-->
    <link rel="stylesheet" href="{% static 'smarthexboard/css/style.css' %}">
</head>
<body onresize="resizeCanvas(event)">
    <!--loader start-->
    <div id="preloader">
        <div class="loader1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--loader end-->

    <!--full screen canvas container-->
    <div id="game"></div>

    <!--ui element container-->
    <div id="ui"></div>

    <!--top menu bar-->
    <div class="topMenu">
        <ul>
            <li><a href="#" id="menuGame">Game</a></li>
            <li><a href="#">Options</a></li>
        </ul>
    </div>

    <dialog id="MegaDialog" inert loading modal-mode="mega">
      <form method="dialog">
        <header>
          <section class="icon-headline">
            <svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
              <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
              <circle cx="8.5" cy="7" r="4"></circle>
              <line x1="20" y1="8" x2="20" y2="14"></line>
              <line x1="23" y1="11" x2="17" y2="11"></line>
            </svg>
            <h3>New User</h3>
          </section>
          <button onclick="this.closest('dialog').close('close')" type="button" title="Close dialog">
            <title>Close dialog icon</title>
            <svg width="24" height="24" viewBox="0 0 24 24">
              <line x1="18" y1="6" x2="6" y2="18"/>
              <line x1="6" y1="6" x2="18" y2="18"/>
            </svg>
          </button>
        </header>
        <article>
          <section class="labelled-input">
            <label for="userimage">Upload an image</label>
            <input id="userimage" name="userimage" type="file">
          </section>
          <small><b>*</b> Maximum upload 1mb</small>
        </article>
        <footer>
          <menu>
            <button type="reset" value="clear">Clear</button>
          </menu>
          <menu>
            <button autofocus type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
            <button type="submit" value="confirm">Confirm</button>
          </menu>
        </footer>
      </form>
    </dialog>

    <dialog id="MiniDialog" inert loading modal-mode="mini">
      <form method="dialog">
        <article>
          <section class="warning-message">
            <svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" >
              <title>A warning icon</title>
              <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
              <line x1="12" y1="9" x2="12" y2="13"></line>
              <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
            <p>Are you sure you want to remove this user?</p>
          </section>
        </article>
        <footer>
          <menu>
            <button autofocus type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
            <button type="submit" value="confirm">Confirm</button>
          </menu>
        </footer>
      </form>
    </dialog>

    <main>
        <div class="user">
        <img src="https://doodleipsum.com/700x700/avatar-5?i=e49dd48962488beade4c44491e56a5a9" alt="">
        <button aria-label="Remove user 1">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <line x1="18" y1="6" x2="6" y2="18"/>
            <line x1="6" y1="6" x2="18" y2="18"/>
          </svg>
        </button>
      </div>
      <div class="user">
        <img src="https://doodleipsum.com/700x700/avatar-5?i=ca71b901f3ad2ce77d50ab296aff3f5f" alt="">
        <button aria-label="Remove user 2">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <line x1="18" y1="6" x2="6" y2="18"/>
            <line x1="6" y1="6" x2="18" y2="18"/>
          </svg>
        </button>
      </div>
      <button class="user" onclick="window.MegaDialog.showModal()" aria-label="Add user">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
      </button>
    </main>

    <!--<div>
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                 <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="moving-waves">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
                </g>
            </svg>
        </div>
    </div>-->

    <!--jQuery-->
    <script src="{% static 'smarthexboard/js/jquery-3.4.1.min.js' %}"></script>

    <!--custom js-->
    <script src="{% static 'smarthexboard/js/prototypes.js' %}"></script>
    <script src="{% static 'smarthexboard/js/dom.js' %}"></script>
    <script src="{% static 'smarthexboard/js/point.js' %}"></script>
    <script src="{% static 'smarthexboard/js/map.js' %}"></script>
    <script src="{% static 'smarthexboard/js/renderer.js' %}"></script>
    <script src="{% static 'smarthexboard/js/ui.js' %}"></script>

    <script src="{% static 'smarthexboard/js/scripts.js' %}"></script>
</body>
</html>