html, body {
    margin: 0 !important;
    padding: 0 !important;
}

html {
    overflow: hidden;
    height: 100%;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../font/CinzelDecorative-Regular.eot');
    src: url('../font/CinzelDecorative-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/CinzelDecorative-Regular.woff2') format('woff2'),
        url('../font/CinzelDecorative-Regular.woff') format('woff'),
        url('../font/CinzelDecorative-Regular.ttf') format('truetype'),
        url('../font/CinzelDecorative-Regular.svg#CinzelDecorative-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../font/Cinzel-Regular.eot');
    src: url('../font/Cinzel-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Cinzel-Regular.woff2') format('woff2'),
        url('../font/Cinzel-Regular.woff') format('woff'),
        url('../font/Cinzel-Regular.ttf') format('truetype'),
        url('../font/Cinzel-Regular.svg#Cinzel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    height: 100%;
    overflow: auto;
    font-family: 'Cinzel';
    font-weight: normal;
    font-style: normal;
}

body {
    /*background-image: url("../img/background.jpg");
    background-repeat: no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #080808;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative';
}

/* c */
.hidden {
    display: none;
}

/* special rules */

#game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#game:focus {
    outline: none !important;
    /* border: 0px; */
    box-shadow: 0 0 0 0 #000;
}

/*=========================================
            PRELOADER CSS
============================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader1 {
    display: block;
    position: relative;
    left: 45%;
    top: 50%;
}

.loader1 span {
    vertical-align: middle;
    border-radius: 100%;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    -webkit-animation: loader1 0.8s linear infinite alternate;
    animation: loader1 0.8s linear infinite alternate;
}

.loader1 span:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background:  rgba(248, 224, 100, 0.6);
}

.loader1 span:nth-child(2) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background:  rgba(248, 224, 100, 0.8);
}

.loader1 span:nth-child(3) {
    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
    background: rgba(248, 224, 100, 1);
}

.loader1 span:nth-child(4) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background:  rgba(248, 224, 100, 0.8);
}

.loader1 span:nth-child(5) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background:  rgba(248, 224, 100, 0.4);
}

@keyframes loader1 {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes loader1 {
    from {
        -webkit-transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
    }
}

/* ==========================================================
 * Spinner
 * =========================================================*/

.spinner {
     width:100px;
     height:100px;
     margin:30px auto;
     position:relative;
     -webkit-animation: rotateit 1.3s linear infinite;
     -moz-animation: rotateit 1.3s linear infinite;
     animation: rotateit 1.3s linear infinite;
}

@-webkit-keyframes rotateit {
     from {
          -webkit-transform: rotate(360deg);
     }
     to {
          -webkit-transform: rotate(0deg);
     }
}
@-moz-keyframes rotateit {
     from {
          -moz-transform: rotate(360deg);
     }
     to {
          -moz-transform: rotate(0deg);
     }
}
@keyframes rotateit {
     from {
          transform: rotate(360deg);
     }
     to {
          transform: rotate(0deg);
     }
}

/* ================================================
 * Bars
 * ================================================*/
.spinner.bar div {
     width: 10px;
     height: 30px;
     background: black;
     position: absolute;
     top: 35px;
     left: 45px;
}
.spinner.bar div:nth-child(1) {
     -webkit-transform: rotate(0deg) translate(0, -30px);
     -moz-transform: rotate(0deg) translate(0, -30px);
     transform: rotate(0deg) translate(0, -30px);
}
.spinner.bar div:nth-child(2) {
     -webkit-transform: rotate(45deg) translate(0, -30px);
     -moz-transform: rotate(45deg) translate(0, -30px);
     transform: rotate(45deg) translate(0, -30px);
     opacity: 0.7;
}
.spinner.bar div:nth-child(3) {
     -webkit-transform: rotate(90deg) translate(0, -30px);
     -moz-transform: rotate(90deg) translate(0, -30px);
     transform: rotate(90deg) translate(0, -30px);
     opacity: 0.6;
}
.spinner.bar div:nth-child(4) {
     -webkit-transform: rotate(135deg) translate(0, -30px);
     -moz-transform: rotate(135deg) translate(0, -30px);
     transform: rotate(135deg) translate(0, -30px);
     opacity: 0.5;
}
.spinner.bar div:nth-child(5) {
     -webkit-transform: rotate(180deg) translate(0, -30px);
     -moz-transform: rotate(180deg) translate(0, -30px);
     transform: rotate(180deg) translate(0, -30px);
     opacity: 0.4;
}
.spinner.bar div:nth-child(6) {
     -webkit-transform: rotate(225deg) translate(0, -30px);
     -moz-transform: rotate(225deg) translate(0, -30px);
     transform: rotate(225deg) translate(0, -30px);
     opacity: 0.3;
}
.spinner.bar div:nth-child(7) {
     -webkit-transform: rotate(270deg) translate(0, -30px);
     -moz-transform: rotate(270deg) translate(0, -30px);
     transform: rotate(270deg) translate(0, -30px);
     opacity: 0.2;
}
.spinner.bar div:nth-child(8) {
     -webkit-transform: rotate(315deg) translate(0, -30px);
     -moz-transform: rotate(315deg) translate(0, -30px);
     transform: rotate(315deg) translate(0, -30px);
     opacity: 0.1;
}

/*=========================================
            Main UI CSS
============================================*/

#uistate-splash {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/ui/background.png");
    background-repeat: no-repeat;

    pointer-events: all;
}

#uistate-splash .logo {
    width: 256px;
    height: 256px;
}

/** general *********************/

.button {
    padding: 0px;
    border: 0px;
    margin: 0px;

    width: 220px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    text-align: center;
}

.button.blue {
    background-image: url("../img/ui/button_blue.png");
}

.button.red {
    background-image: url("../img/ui/button_red.png");
}

.button.green {
    background-image: url("../img/ui/button_green.png");
}

.button.black {
    background-image: url("../img/ui/button_black.png");
}

/** menu ************************/

#uistate-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/ui/background.png");
    background-repeat: no-repeat;

    pointer-events: all;
}

#uistate-menu .container {
    padding: 20px;
    width: 640px;
    height: 512px;
    display: flex;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#uistate-menu .logo {
    width: 256px;
    height: 256px;

    margin: 20px 30px 0 0;
    width: 200px;
    -o-object-fit: contain;
    object-fit: contain;
    align-self: flex-start;
}

#uistate-menu .container_text {
    flex: 1 1 auto;
}

#uistate-menu h1 {
    clear: left;
    padding-top: 30px;
}

#uistate-menu ul.menu {
    clear: left;
    align-items: center;
    margin: 10px 0;

    line-height: 30px;

    list-style: none;
    padding-inline-start: 10px;
}

#uistate-menu ul.menu li {
    display: flex;
    align-self: flex-start;
}

#uistate-menu ul.menu li:before {
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    margin-right: 10px;

    vertical-align: middle;

    background: url('../img/ui/checkbox-selected.png') no-repeat left center;
    background-size: contain;

    content: '';
}

#uistate-menu a {
    text-decoration: none;
    color: white;
}

/** play game ************************/

#uistate-play-game {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/ui/background.png");
    background-repeat: no-repeat;

    pointer-events: all;
}

#uistate-play-game .container {
    padding: 20px;
    width: 640px;
    height: 512px;
    display: flex;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#uistate-play-game .logo {
    width: 256px;
    height: 256px;

    margin: 20px 30px 0 0;
    width: 200px;
    -o-object-fit: contain;
    object-fit: contain;
    align-self: flex-start;
}

#uistate-play-game .container_text {
    flex: 1 1 auto;
}

#uistate-play-game h1 {
    clear: left;
    padding-top: 30px;
}

#uistate-play-game ul.menu {
    clear: left;
    align-items: center;
    margin: 10px 0;

    line-height: 30px;

    list-style: none;
    padding-inline-start: 10px;
}

#uistate-play-game ul.menu li {
    display: flex;
    align-self: flex-start;
}

#uistate-play-game ul.menu li:before {
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    margin-right: 10px;

    vertical-align: middle;

    background: url('../img/ui/checkbox-selected.png') no-repeat left center;
    background-size: contain;

    content: '';
}

#uistate-play-game ul.menu li.noBullet {
    display: block;
}

#uistate-play-game ul.menu li.noBullet:before {
    display: none;
}

#uistate-play-game ul.menu li.noBullet h6 {
    margin-block-start: 0.8em;
    margin-block-end: 0.2em;
}

#uistate-play-game a {
    text-decoration: none;
    color: white;
}

#uistate-play-game .bootstrap-select .dropdown-menu li a span.text {
    color: black;
}

#uistate-play-game .bootstrap-select .dropdown-menu li:before {
    display: none;
}

#uistate-play-game ul.menu li.spacer {
    margin-block-start: 0.8em;
}

/** create game ************************/

#uistate-create-game {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/ui/background.png");
    background-repeat: no-repeat;

    pointer-events: all;
}

#uistate-create-game .container {
    padding: 20px;
    width: 640px;
    height: 512px;
    display: flex;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#uistate-create-game .logo {
    width: 256px;
    height: 256px;

    margin: 20px 30px 0 0;
    width: 200px;
    -o-object-fit: contain;
    object-fit: contain;
    align-self: flex-start;
}

#uistate-create-game .container_text {
    flex: 1 1 auto;
}

#uistate-create-game h1 {
    clear: left;
    padding-top: 30px;
}

#uistate-create-game ul.menu {
    clear: left;
    align-items: center;
    margin: 10px 0;

    line-height: 30px;

    list-style: none;
    padding-inline-start: 10px;
}

#uistate-create-game ul.menu li {
    display: flex;
    align-self: flex-start;
}

#uistate-create-game ul.menu li:before {
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    margin-right: 10px;

    vertical-align: middle;

    background: url('../img/ui/checkbox-selected.png') no-repeat left center;
    background-size: contain;

    content: '';
}

#uistate-create-game ul.menu li.noBullet {
    display: block;
}

#uistate-create-game ul.menu li.noBullet:before {
    display: none;
}

#uistate-create-game ul.menu li.noBullet h6 {
    margin-block-start: 0.8em;
    margin-block-end: 0.2em;
}

#uistate-create-game a {
    text-decoration: none;
    color: white;
}

#uistate-create-game .bootstrap-select .dropdown-menu li a span.text {
    color: black;
}

#uistate-create-game .bootstrap-select .dropdown-menu li:before {
    display: none;
}

#uistate-create-game ul.menu li.spacer {
    margin-block-start: 0.8em;
}

/** options ***********/

#uistate-options {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/ui/background.png");
    background-repeat: no-repeat;

    pointer-events: all;
}

#uistate-options .container {
    padding: 20px;
    width: 640px;
    height: 512px;
    display: flex;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#uistate-options .logo {
    width: 256px;
    height: 256px;

    margin: 20px 30px 0 0;
    width: 200px;
    -o-object-fit: contain;
    object-fit: contain;
    align-self: flex-start;
}

#uistate-options .container_text {
    flex: 1 1 auto;
}

#uistate-options h1 {
    clear: left;
    padding-top: 30px;
}

#uistate-options ul.menu {
    clear: left;
    align-items: center;
    margin: 10px 0;

    line-height: 30px;

    list-style: none;
    padding-inline-start: 10px;
}

#uistate-options ul.menu li {
    display: flex;
    align-self: flex-start;
}

#uistate-options ul.menu li:before {
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    margin-right: 10px;

    vertical-align: middle;

    background: url('../img/ui/checkbox-selected.png') no-repeat left center;
    background-size: contain;

    content: '';
}

#uistate-options ul.menu li.noBullet:before {
    background: none;
}

#uistate-options a {
    text-decoration: none;
    color: white;
}

/** generate ***********/

#uistate-generate {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/ui/background.png");
    background-repeat: no-repeat;

    pointer-events: all;
}

#uistate-generate .container {
    padding: 20px;
    width: 640px;
    height: 512px;
    display: flex;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
}

#uistate-generate .logo {
    width: 256px;
    height: 256px;

    margin: 20px 30px 0 0;
    width: 200px;
    -o-object-fit: contain;
    object-fit: contain;
    align-self: flex-start;
}

#uistate-generate .container_text {
    flex: 1 1 auto;
}

#uistate-generate h1 {
    clear: left;
    padding-top: 30px;
}

#uistate-generate h3 {
    clear: left;
}

/* **** game *****************/

#uistate-game {
    display: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#uistate-game #top-bar {
    width: 100%;
    height: 33px;

    background-image: url("../img/ui/top-bar@3x.png");
    pointer-events: all;
}

#uistate-game #top-bar-left {
    display: inline-flex;
}

#uistate-game #top-bar-left .yield {
    height: 28px;
    width: auto;
    min-width: 64px;
    display: flex;
    margin-right: 2px;
}

#uistate-game #top-bar-left .yield-icon {
    width: 22px;
    height: 22px;
    margin-top: 3px;
    margin-left: 3px;
}

#uistate-game #top-bar-left .yield-value {
    height: 22px;
    font-size: 16px;
    padding-right: 4px;
    padding-left: 4px;
}

#uistate-game #top-bar-left .delta-value {
    height: 22px;
    font-size: 14px;
    padding-right: 8px;
    padding-left: 4px;
}

#scienceYield {
    border-image: url("../img/ui/yield-boxes/box-science@0x.png") 8 fill repeat;
    border-image-width: 8px;
    border-image-outset: 0px;
}

#cultureYield {
    border-image: url("../img/ui/yield-boxes/box-culture@0x.png") 8 fill repeat;
    border-image-width: 8px;
    border-image-outset: 0px;
}

#faithYield {
    border-image: url("../img/ui/yield-boxes/box-faith@0x.png") 8 fill repeat;
    border-image-width: 8px;
    border-image-outset: 0px;
}

#goldYield {
    border-image: url("../img/ui/yield-boxes/box-gold@0x.png") 8 fill repeat;
    border-image-width: 8px;
    border-image-outset: 0px;
}

#tourismYield {
    border-image: url("../img/ui/yield-boxes/box-tourism@0x.png") 8 fill repeat;
    border-image-width: 8px;
    border-image-outset: 0px;
}

#uistate-game #top-bar-right {
    display: inline-flex;
    float: right;
}

#uistate-game #turnLbl {
    top: 4px;
    position: absolute;
    width: 200px;
    right: 30px;
    text-align: right;
}

/** header bar ******************/

#uistate-game #header-bar-left {
    height: 48px;

    display: inline-flex;
    pointer-events: all;
}

#uistate-game #header-bar-left .header {
    width: 60px;
    height: 48px;

    background-image: url("../img/ui/header-bar-button@3x.png");
    background-size: 100% 100%;
}

#uistate-game #header-bar-left .header a {
    width: 44px;
    height: 44px;

    display: flex;

    background-size: 100% 100%;

    margin-left: 8px;
    margin-top: 2px;
}

#scienceHeader {
    background-image: url("../img/ui/headers/header-button-science-active@3x.png");
}

#cultureHeader {
    background-image: url("../img/ui/headers/header-button-culture-active@3x.png");
}

#governmentHeader {
    background-image: url("../img/ui/headers/header-button-government-active@3x.png");
}

#religionHeader {
    background-image: url("../img/ui/headers/header-button-religion-active@3x.png");
}

#greatPeopleHeader {
    background-image: url("../img/ui/headers/header-button-greatPeople-active@3x.png");
}

#governorsHeader {
    background-image: url("../img/ui/headers/header-button-governors-active@3x.png");
}

#momentsHeader {
    background-image: url("../img/ui/headers/header-button-log-active@3x.png");
}

#header-bar-left::after {
    width: 42px;
    height: 48px;

    content: '';

    background-image: url("../img/ui/header-bar-left@3x.png");
    background-size: 100% 100%;
}

#uistate-game #header-bar-right {
    height: 48px;

    display: inline-flex;
    float: right;
    pointer-events: all;
}

#uistate-game #header-bar-right .header {
    width: 60px;
    height: 48px;

    background-image: url("../img/ui/header-bar-button@3x.png");
    background-size: 100% 100%;
}

#uistate-game #header-bar-right .header a {
    width: 44px;
    height: 44px;

    display: flex;

    background-size: 100% 100%;

    margin-left: 8px;
    margin-top: 2px;
}

#uistate-game #header-bar-right::before {
    width: 48px;
    height: 48px;

    content: '';

    background-image: url("../img/ui/header-bar-right@3x.png");
    background-size: 100% 100%;
}

/* buttons */

#uistate-game #tech_progress {
    width: 197px;
    height: 64px;
    background-image: url("../img/ui/science-progress@3x.png");
    background-size: 100% 100%;
    margin-top: -5px;
}

#uistate-game #tech_progress_value {
    width: 36px;
    height: 36px;
    top: 5px;
    left: 3px;
    position: relative;
    z-index: 20;
}

#uistate-game #tech_progress_icon {
    width: 26px;
    height: 26px;
    top: 5px;
    left: -32px;
    position: relative;
    z-index: 21;
}

#uistate-game #tech_progress_title {
    position: relative;
    top: -10px;
    left: -20px;
    font-size: 14px;
}

#uistate-game #civic_progress {
    width: 197px;
    height: 64px;
    background-image: url("../img/ui/culture-progress@3x.png");
    background-size: 100% 100%;
}

#uistate-game #civic_progress_value {
    width: 36px;
    height: 36px;
    top: 5px;
    left: 3px;
    position: relative;
    z-index: 20;
}

#uistate-game #civic_progress_icon {
    width: 26px;
    height: 26px;
    top: 5px;
    left: -32px;
    position: relative;
    z-index: 21;
}

#uistate-game #civic_progress_title {
    position: relative;
    top: -10px;
    left: -20px;
    font-size: 14px;
}

#uistate-game #left_footer_container {
    position: absolute;
    bottom: 0;
    left: 0;
}

#uistate-game #unit_container {
    width: 164px;
    height: 168px;
    background-image: url("../img/ui/unit-canvas@3x.png");
    background-size: cover;
    float: left;
    pointer-events: all;
}

#uistate-game #game_button {
    width: 124px;
    height: 124px;
    background-image: url("../img/globe/globe.gif");
    background-size: cover;
    margin-left: 10px;
    margin-top: 33px;
    display: block;
}

#uistate-game #right_footer_container {
    position: absolute;
    bottom: 0;
    right: 0;
}

#uistate-game #map_container {
    width: 300px;
    height: 168px;
    background-image: url("../img/ui/map_overview_canvas.png");
    background-size: cover;
}

#uistate-game #map_lens {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 50px;
    background-image: url(../img/ui/map-lens@3x.png);
    background-size: cover;
}

#uistate-game #map_marker {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 90px;
    background-image: url("../img/ui/map-marker@3x.png");
    background-size: cover;
}

#uistate-game #map_options {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 130px;
    background-image: url("../img/ui/map-options@3x.png");
    background-size: cover;
}

/* game menu */
#uistate-game-menu {
    padding: 20px;

    display: none;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);

    pointer-events: all;
}

#uistate-game-menu #game-menu-list {
    background-image: url("../img/ui/menu-background.png");
    width: 298px;
    height: 620px;
}

#uistate-game-menu #game-menu-list h3 {
    display: flex;
    width: 298px;
    vertical-align: middle;
    justify-content: center;
    padding-top: 12px;
}

#uistate-game-menu #game-menu-list .game-menu-item {
    font-size: 10px;
    width: 270px;
    height: 20px;
    display: inline-flex;
    background-image: url(../img/ui/menu-button.png);
    margin-left: 14px;
    color: #ffffff;
    margin-top: 10px;
    vertical-align: middle;
    justify-content: center;
    padding-top: 14px;
    text-decoration: none;
}

/*=========================================
            Game CSS
============================================*/

#tooltip {
    z-index: 200;
    position: absolute;
    display: none;
}

#turnBanner {
    z-index: 201;
    position: absolute;
    display: none;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 237px;
    transform: translateY(-50%);
    background: url(../img/ui/turn-banner.png) no-repeat center top;
}

#turnBanner p {
    text-align: center;
    vertical-align: middle;
    line-height: 237px;
}

/*=========================================
            Message CSS
============================================*/

#ui {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.blurred {
    backdrop-filter: blur(6px);
}

/* ui-message */

#ui-message {
	position: fixed;
	width: 390px;
	height: 201px;
	left:50%;
	margin-left: -153px;
	top:50%;
	margin-top: -100px;
	color: #f8e064;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	z-index:97;
	display: none;
	overflow-x: hidden;
    overflow-y: auto;
    pointer-events: all;
}

#ui-message #ui-message-header {
    background-image: url('../img/ui/dialog/dialog_header.png');
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 28px;
    background-size: cover;
}

#ui-message #ui-message-title {
    border: 0 #fff solid;
	width: 390px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 6px;
	text-align: center;
}

#ui-message #ui-message-body {
    width: 390px;
    padding: 10px 20px;
    text-align: left;
    color: #fff;
    font-weight: normal;
    background-image: url('../img/ui/dialog/dialog_body.png');
    background-size: contain;
    background-repeat: repeat-y;
}

#ui-message #ui-message-body #ui-message-message {
    padding-bottom: 10px;
    text-align: left;
    color: #fff;
    font-weight: normal;
}

#ui-message #ui-message-footer {
    background-image: url('../img/ui/dialog/dialog_bottom.png');
    background-size: contain;
    display: flex;
    flex-direction: row;
    height: 47px;
    padding-left: 20px;
    width: 390px;
}

#ui-message #ui-message-okay-uiokbut {
	background-image: url('../img/ui/button_blue.png');
	background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 28px;
	text-align: center;
	color: #fff;
	font-weight: normal;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#ui-message #ui-message-cancel-uiokbut {
	background-image: url('../img/ui/button_red.png');
	background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 28px;
	text-align: center;
	color: #fff;
	font-weight: normal;
	padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 10px;
}

/* ui-input */

#ui-input {
	position: fixed;
	width: 390px;
	height: 201px;
	left:50%;
	margin-left: -153px;
	top:50%;
	margin-top: -100px;
	color: #f8e064;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	z-index:97;
	display: none;
	overflow-x: hidden;
    overflow-y: auto;
    pointer-events: all;
}

#ui-input #ui-input-header {
    background-image: url('../img/ui/dialog/dialog_header.png');
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 28px;
    background-size: cover;
}

#ui-input #ui-input-title {
	border: 0 #fff solid;
	width: 390px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 6px;
	text-align: center;
}

#ui-input #ui-input-body {
    width: 390px;
    padding: 10px 20px;
    text-align: left;
    color: #fff;
    font-weight: normal;
    background-image: url('../img/ui/dialog/dialog_body.png');
    background-size: contain;
    background-repeat: repeat-y;
}

#ui-input #ui-input-body #ui-input-message {
    padding-bottom: 10px;
    text-align: left;
    color: #fff;
    font-weight: normal;
}

#ui-input #ui-input-body #ui-input-text {
    text-align: left;
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
}

#ui-input #ui-input-footer {
    background-image: url('../img/ui/dialog/dialog_bottom.png');
    background-size: contain;
    display: flex;
    flex-direction: row;
    height: 47px;
    padding-left: 20px;
    width: 390px;
}

#ui-input #ui-input-okay-uiokbut {
	background-image: url('../img/ui/button_blue.png');
	background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 28px;
	text-align: center;
	color: #fff;
	font-weight: normal;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#ui-input #ui-input-cancel-uiokbut {
	background-image: url('../img/ui/button_red.png');
	background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 28px;
	text-align: center;
	color: #fff;
	font-weight: normal;
	padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 10px;
}

/* unit panel */

#uistate-game #center_footer_container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: 0 auto;
    z-index: 200;
}

#uistate-game #center_footer_container #unit_panel {
    background-image: url('../img/ui/unit-banner@3x.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 450px;
    height: 150px;
    display: none;
    z-index: 200;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_title {
    z-index: 202;
    position: fixed;
    left: 90px;
    top: 14px;

    background-color: #25597bb8;
    width: 310px;
    height: 24px;
    padding-left: 4px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_max_moves {
    z-index: 202;
    position: fixed;
    left: 100px;
    top: 40px;

    background-color: #25597bb8;
    width: 300px;
    height: 24px;

    display: inline-block;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_max_moves #unit_panel_max_moves_icon {
    width: 26px;
    height: 26px;
    position: relative;
    float: left;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_max_moves #unit_panel_max_moves_text {
    position: relative;
    float: left;
    padding-left: 6px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_max_moves #unit_panel_max_moves_label {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    float: right;
    padding-right: 6px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_melee_strength {
    z-index: 202;
    position: fixed;
    left: 100px;
    top: 66px;

    background-color: #25597bb8;
    width: 300px;
    height: 24px;

    display: inline-block;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_melee_strength #unit_panel_melee_strength_icon {
    width: 26px;
    height: 26px;
    position: relative;
    float: left;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_melee_strength #unit_panel_melee_strength_text {
    position: relative;
    float: left;
    padding-left: 6px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_melee_strength #unit_panel_melee_strength_label {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    float: right;
    padding-right: 6px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_ranged_strength {
    z-index: 202;
    position: fixed;
    left: 100px;
    top: 92px;

    background-color: #25597bb8;
    width: 300px;
    height: 24px;

    display: inline-block;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_ranged_strength #unit_panel_ranged_strength_icon {
    width: 26px;
    height: 26px;
    position: relative;
    float: left;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_ranged_strength #unit_panel_ranged_strength_text {
    position: relative;
    float: left;
    padding-left: 6px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_ranged_strength #unit_panel_ranged_strength_label {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    float: right;
    padding-right: 6px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_ranged_range {
    z-index: 202;
    position: fixed;
    left: 100px;
    top: 118px;

    background-color: #25597bb8;
    width: 300px;
    height: 24px;

    display: inline-block;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_ranged_range #unit_panel_ranged_range_icon {
    width: 26px;
    height: 26px;
    position: relative;
    float: left;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_ranged_range #unit_panel_ranged_range_text {
    position: relative;
    float: left;
    padding-left: 6px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_ranged_range #unit_panel_ranged_range_label {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    float: right;
    padding-right: 6px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_icon {
    width: 84px;
    height: 84px;
    position: absolute;
    top: 36px;
    left: 4px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_icon #unit_panel_icon_img {
    width: 84px;
    height: 84px;
    position: absolute;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_icon #unitHealth {
    position: absolute;

    top: 0;
    left: 0;
    margin-top: -36px;
    margin-left: -106px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_actions {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 2px;
}

#uistate-game #center_footer_container #unit_panel #unit_panel_actions .unit-command {
    width: 48px;
    height: 48px;
    translate: 20px -48px;
    z-index: 200;
    display: inline-flex;
    position: relative;
    pointer-events: all;
}

/* city panel */

#uistate-game #city_panel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#uistate-game #city_panel #city_base_panel {
    background-image: url(../img/ui/city/city-canvas@3x.png);
    background-size: contain;
    width: 500px;
    height: 180px;
    bottom: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
}

#uistate-game #city_panel #city_info_panel {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: rgb(100, 100, 100, 0.5);
    z-index: 300;
    padding-top: 32px;
    pointer-events: all;
}

#uistate-game #city_panel #city_info_panel_exit {
    width: 37px;
    height: 31px;
    position: fixed;
    top: 28px;
    left: 245px;
    background-image: url(../img/ui/city/exit_button.png);
    background-size: contain;
}

#uistate-game #city_panel #city_info_panel #city_info_header {
    background-image: url(../img/ui/city/info_header.png);
    background-size: contain;
    width: 300px;
    height: 103px;
}

#uistate-game #city_panel #city_info_panel #city_info_header #city_details_name {
    width: 300px;
    height: 20px;
    text-align: center;
}

#uistate-game #city_panel #city_info_panel #city_info_header #city_name {
    width: 300px;
    height: 20px;
    text-align: center;
    position: fixed;
    top: 58px;
}

#uistate-game #city_panel #city_info_panel #city_info_header #city_citizen_btn {
    width: 44px;
    height: 50px;
    display: block;
    background-size: contain;
    position: fixed;
    left: 75px;
    top: 83px;
}

#uistate-game #city_panel #city_info_panel #city_info_header .city_citizen_selected {
    background-image: url(../img/ui/city/city_info_button_citizen_selected.png);
}

#uistate-game #city_panel #city_info_panel #city_info_header .city_citizen_active {
    background-image: url(../img/ui/city/city_info_button_citizen_active.png);
}

#uistate-game #city_panel #city_info_panel #city_info_header #city_breakdown_btn {
    width: 44px;
    height: 50px;
    display: block;
    background-size: contain;
    position: fixed;
    left: 120px;
    top: 83px;
}

#uistate-game #city_panel #city_info_panel #city_info_header .city_breakdown_active {
    background-image: url(../img/ui/city/city_info_button_breakdown_active.png);
}

#uistate-game #city_panel #city_info_panel #city_info_header .city_breakdown_selected {
    background-image: url(../img/ui/city/city_info_button_breakdown_selected.png);
}

#uistate-game #city_panel #city_info_panel #city_info_header #city_loyalty_btn {
    width: 44px;
    height: 50px;
    display: block;
    background-size: contain;
    position: fixed;
    left: 165px;
    top: 83px;
}

#uistate-game #city_panel #city_info_panel #city_info_header .city_loyalty_active {
    background-image: url(../img/ui/city/city_info_button_loyalty_active.png);
}

#uistate-game #city_panel #city_info_panel #city_info_header .city_loyalty_selected {
    background-image: url(../img/ui/city/city_info_button_loyalty_selected.png);
}

.city_sub_header {
    width: 280.5px;
    height: 31px;
    background-image: url(../img/ui/city/city_view_sub_header.png);
    background-size: contain;
    text-align: center;
    padding-top: 2px;
    color: white;
}

.city_citizen_box {
    width: 280.5px;
    height: 58px;
    background-image: url(../img/ui/city/citizen_box.png);
    background-size: contain;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.city_citizen_box img.city_citizen_box_icon {
    position: relative;
    margin-left: 10px;
    width: 48px;
    height: 48px;
}

.city_citizen_box .city_citizen_box_content {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 48px;
    padding-left: 10px;
}

.city_citizen_box h3.city_citizen_box_title {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 2px;
    line-height: 1.0;
    padding-bottom: 4px;
}

.city_citizen_box span.city_citizen_box_text {
    color: white;
    font-size: 12px;
    line-height: 1.0;
    padding-top: 2px;
}

/* production */

#uistate-game #city_panel #city_production_panel {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: rgb(100, 100, 100, 0.5);
    z-index: 300;
    right: 0;
    padding-top: 30px;
    pointer-events: all;
}

#uistate-game #city_panel #city_production_panel #city_production_header {
    background-image: url(../img/ui/city/production_header.png);
    background-size: contain;
    width: 300px;
    height: 112px;
}

/* https://leanrada.com/9-slicer/ */
.button_normal {
    border-image: url(../img/ui/9patch/normal.png) 10 10 10 10 fill / 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.button_normal_icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.button_normal_title {
    font-size: 10px;
    color: white;
    text-align: center;
}

.button_highlight {
    border-image: url(../img/ui/9patch/highlight.png) 10 10 10 10 fill / 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.button_highlight_icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.button_highlight_title {
    font-size: 10px;
    color: #212529;
    text-align: center;
}
