html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #080808;
    color: #fff;
}

#game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#game:focus {
    outline: none !important;
    border: 0px;
    box-shadow: 0px;
}

/*=========================================
            PRELOADER CSS
============================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}

.loader1 {
    display: block;
    position: relative;
    left: 45%;
    top: 50%;
}

.loader1 span {
    vertical-align: middle;
    border-radius: 100%;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    -webkit-animation: loader1 0.8s linear infinite alternate;
    animation: loader1 0.8s linear infinite alternate;
}

.loader1 span:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background:  rgba(41, 103, 230, 0.6);
}

.loader1 span:nth-child(2) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background:  rgba(41, 103, 230, 0.8);
}

.loader1 span:nth-child(3) {
    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
    background: rgba(41, 103, 230, 1);
}

.loader1 span:nth-child(4) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background:  rgba(41, 103, 230, 0.8);

}

.loader1 span:nth-child(5) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background:  rgba(41, 103, 230, 0.4);
}

@keyframes loader1 {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes loader1 {
    from {
        -webkit-transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
    }
}

/*=========================================
            Menu CSS
============================================*/

.topMenu {
    color: #ffffff;
    position: absolute;
    height: 20px;
    width: 100%;
    background-color: gray;
    border-bottom: 1px solid white;
}

.topMenu ul {
    padding-left: 0px;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

.topMenu li {
    display: inline-block;
    position: relative;
    padding-left: 10px;
}

.topMenu a {
    color: #162e66;
    text-decoration: none;
    background-color: transparent;
}

/*=========================================
            Message CSS
============================================*/

#ui-message {
	position: fixed;
	width: 306px;
	height: 201px;
	left:50%;
	margin-left: -153px;
	top:50%;
	margin-top: -100px;
	color: #f8e064;
	font-weight:bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	background-image: url('../img/ui/ui-message.png');
	z-index:97;
	overflow-y: auto;
	display: none;
	overflow: hidden;
}

#ui-message #title {
	border: 0px #fff solid;
	position:absolute;
	top:10px;
	left:5px;
	width:305px;
	text-align: center;
}

#ui-message #message {
	border: 0px #fff solid;
	position:absolute;
	top:30px;
	left:5px;
	width:300px;
	text-align: center;
	color: #fff;
	font-weight:normal;
	height: 130px;
}

#ui-message #uiokbut {
	background-image: url('../img/ui/ok.png');
	background-repeat: no-repeat;
	border: 0px #fff solid;
	position:absolute;
	top:165px;
	left:270px;
	width:30px;
	height: 30px;
	text-align: center;
	color: #fff;
	font-weight:normal;
}